@model ecommerce.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>@Model.Title</h4>
<hr/>
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="img" value="@ViewBag.image" />
        <div class="form-group col-md-6">
            <img src="~/@ViewBag.image" alt="@Model.Title"/>
        </div>
        <div class="form-group col-md-6">
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Title" class="control-label">Product Name</label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group col-md-6">
            <label asp-for="Code" class="control-label">Product Code</label>
            <input asp-for="Code" class="form-control"/>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="GroupCode" class="control-label">Product Group Code</label>
            <input asp-for="GroupCode" class="form-control"/>
            <span asp-validation-for="GroupCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Brand" class="control-label"></label>
            <input asp-for="Brand" class="form-control"/>
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" asp-for="Image">Image</label>

            <div class="custom-file">
                <input class="custom-file-input" asp-for="Image" type="file"/>
                <label class="custom-file-label" asp-for="Image">Choose Product Image</label>
            </div>
        </div>


        <div class="form-group col-md-6">
            <label asp-for="ProductOptionId" class="control-label"></label>
            <select asp-for="ProductOptionId" class="form-control" asp-items="ViewBag.ProductOptionId"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="SubCategoryId" class="control-label"></label>
            <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" class="form-control"/>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check">
                <label class="form-check-label font-weight-bold">
                    <input class="form-check-input custom-checkbox" asp-for="Featured"/> @Html.DisplayNameFor(model => model.Featured)
                </label>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="float-md-right">
                <input type="submit" value="Edit" class="btn btn-outline-primary"/>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>